/* 
HIPOCALORIC
Cirrus:<iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=e510a607cd2d5e5366cb3db69fa8d534"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=calorie&query=low&query=diet&query=calories&query=weight&mode=document&corpus=e510a607cd2d5e5366cb3db69fa8d534"></iframe>
Terms Berry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=e510a607cd2d5e5366cb3db69fa8d534"></iframe>

VEGAN
Cirrus: <iframe style="width: 509px; height: 360px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=82f59f3b734b11ac3d963a48ac1300fe"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=diet&query=vegan&query=says&query=health&query=risk&mode=document&corpus=82f59f3b734b11ac3d963a48ac1300fe"></iframe>
TermsBerry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=82f59f3b734b11ac3d963a48ac1300fe"></iframe>

MEDITERRANEAN
Cirrus: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=d8c27db1830d8e15c504650694d94d68"></iframe>
Trends:<iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=mediterranean&query=diet&query=eat&query=fish&query=disease&mode=document&corpus=d8c27db1830d8e15c504650694d94d68"></iframe>
Termsberry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=d8c27db1830d8e15c504650694d94d68"></iframe>

ROMAN
Cirrus: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=25c024c3d600f7382f0ed6b52b7307bd"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=food&query=roman&query=fish&query=meat&query=available&mode=document&corpus=25c024c3d600f7382f0ed6b52b7307bd"></iframe>
Termsberry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=25c024c3d600f7382f0ed6b52b7307bd"></iframe>

MEDIEVAL
Cirrus: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=43c33f8cd310789c354e9aaabfc6617a"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=castle&query=food&query=medieval&query=meat&query=bread&mode=document&corpus=43c33f8cd310789c354e9aaabfc6617a"></iframe>
Termsberry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=43c33f8cd310789c354e9aaabfc6617a"></iframe>

1600 TUDOR
Cirrus: <iframe style="width: 509px; height: 360px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=50b66a5eff2afe2f002a13b6176ab2c9"></iframe>
Trends: <iframe style="width: 509px; height: 360px;" src="https://voyant-tools.org/tool/Trends/?query=food&query=table&query=eaten&query=henry&query=king&mode=document&corpus=50b66a5eff2afe2f002a13b6176ab2c9"></iframe>
Termsberry: <iframe style="width: 508px; height: 360px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=50b66a5eff2afe2f002a13b6176ab2c9"></iframe>

Will cell-based meat ever be a dinner staple?
Cirrus: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=366cf70a532cbb74a8806d35e448fb54"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=meat&query=cells&query=says&query=cell&query=muscle&mode=document&corpus=366cf70a532cbb74a8806d35e448fb54"></iframe>
TermsBerri: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=366cf70a532cbb74a8806d35e448fb54"></iframe>

Taking Cultured Meat to the Next Level
Cirrus: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=8ee1517ecdc5b14453709960e49ca79f"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=cells&query=meat&query=think&query=carotenoids&query=cell&mode=document&corpus=8ee1517ecdc5b14453709960e49ca79f"></iframe>
Termsberry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=8ee1517ecdc5b14453709960e49ca79f"></iframe>

Cultivated meat: Out of the lab, into the frying pan
Cirrus: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Cirrus/?corpus=ef890cd78db464310fa015238524f96a"></iframe>
Trends: <iframe style="width: 509px; height: 358px;" src="https://voyant-tools.org/tool/Trends/?query=meat&query=cultivated&query=industry&query=protein&query=scale&mode=document&corpus=ef890cd78db464310fa015238524f96a"></iframe>
Terms berry: <iframe style="width: 508px; height: 358px;" src="https://voyant-tools.org/tool/TermsBerry/?corpus=ef890cd78db464310fa015238524f96a"></iframe>


*/




@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #effaf6;
    text-align: justify;
    font-size: 20px;
}




h1, h2 ,h3, h4, b {
    color: #1d6d86;
    text-align: center;
}

p {
    margin-bottom: 1cm;
}
